.login-panel
    clearfix()
    width: 400px
    margin: 0 auto
    padding: 150px 0
    text-align:center
    h1
        color: #3c3a37
    .login_douban,
    .login_weibo
        margin: 10px
        img
            padding: 10px