@font-face
    font-family: 'typicon'
    src:url('fonts/typicon.eot')
    src:url('fonts/typicon.eot?#iefix') format('embedded-opentype'),
        url('fonts/typicon.woff') format('woff'),
        url('fonts/typicon.ttf') format('truetype'),
        url('fonts/typicon.svg#typicon') format('svg')
    font-weight: normal
    font-style: normal


[class^="icon-"], [class*=" icon-"]
    font-family: 'typicon'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


.icon-star:before
    content: "\e60e"

.icon-export:before
    content: "\e60f"

.icon-lock-open:before
    content: "\e610"

.icon-user:before
    content: "\e611"

.icon-video:before
    content: "\e612"

.icon-notes:before
    content: "\e613"

.icon-arrow-back:before
    content: "\e614"

.icon-rss:before
    content: "\e615"

.icon-location:before
    content: "\e616"

.icon-link:before
    content: "\e617"

.icon-arrow-up-thick:before
    content: "\e618"

.icon-arrow-down-thick:before
    content: "\e619"

.icon-starburst:before
    content: "\e61a"

.icon-starburst-outline:before
    content: "\e61b"

.icon-delete-outline:before
    content: "\e61c"

.icon-cloud-storage:before
    content: "\e61d"

.icon-wi-fi:before
    content: "\e61e"

.icon-flash:before
    content: "\e61f"

.icon-cancel:before
    content: "\e620"

.icon-backspace:before
    content: "\e621"

.icon-attachment:before
    content: "\e622"

.icon-arrow-move:before
    content: "\e623"

.icon-location-arrow:before
    content: "\e624"

.icon-info:before
    content: "\e625"

.icon-user-delete:before
    content: "\e626"

.icon-user-add:before
    content: "\e627"

.icon-media-pause:before
    content: "\e628"

.icon-group:before
    content: "\e629"

.icon-chart-pie:before
    content: "\e62a"

.icon-chart-line:before
    content: "\e62b"

.icon-infinity:before
    content: "\e62c"

.icon-globe:before
    content: "\e62d"

.icon-cog:before
    content: "\e62e"

.icon-upload:before
    content: "\e62f"

.icon-scissors:before
    content: "\e630"

.icon-refresh:before
    content: "\e631"

.icon-pin:before
    content: "\e632"

.icon-zoom:before
    content: "\e633"

.icon-zoom-out:before
    content: "\e634"

.icon-zoom-in:before
    content: "\e635"

.icon-sort-numerically:before
    content: "\e636"

.icon-sort-alphabetically:before
    content: "\e637"

.icon-input-checked:before
    content: "\e638"

.icon-calender:before
    content: "\e639"

.icon-world:before
    content: "\e63a"

.icon-times:before
    content: "\e63b"

.icon-tick:before
    content: "\e63c"

.icon-plus:before
    content: "\e63d"

.icon-minus:before
    content: "\e63e"

.icon-equals:before
    content: "\e63f"

.icon-divide:before
    content: "\e640"

.icon-chevron-right:before
    content: "\e641"

.icon-chevron-left:before
    content: "\e642"

.icon-arrow-right-thick:before
    content: "\e643"

.icon-arrow-left-thick:before
    content: "\e644"

.icon-th-small:before
    content: "\e645"

.icon-th-menu:before
    content: "\e646"

.icon-th-list:before
    content: "\e647"

.icon-image:before
    content: "\e648"

.icon-heart:before
    content: "\e649"

.icon-th-large:before
    content: "\e64a"

.icon-home:before
    content: "\e64b"

.icon-arrow-forward:before
    content: "\e64c"

.icon-delete:before
    content: "\e64d"

.icon-flow-children:before
    content: "\e64e"

.icon-radar:before
    content: "\e64f"

.icon-lock-closed:before
    content: "\e650"

.icon-warning:before
    content: "\e651"

.icon-chart-bar:before
    content: "\e652"

.icon-key:before
    content: "\e653"

.icon-code:before
    content: "\e654"

.icon-camera:before
    content: "\e655"

.icon-eye:before
    content: "\e656"

.icon-point-of-interest:before
    content: "\e657"

.icon-chart-area:before
    content: "\e658"

.icon-info-large:before
    content: "\e659"

.icon-eject:before
    content: "\e65a"

.icon-download:before
    content: "\e65b"

.icon-media-eject:before
    content: "\e65c"

.icon-media-fast-forward:before
    content: "\e65d"

.icon-media-play:before
    content: "\e65e"

.icon-media-record:before
    content: "\e65f"

.icon-media-stop:before
    content: "\e660"

.icon-social-dribbble:before
    content: "\e661"

.icon-social-facebook:before
    content: "\e662"

.icon-social-twitter:before
    content: "\e663"

.icon-waves:before
    content: "\e664"

.icon-adjust-brightness:before
    content: "\e665"

.icon-flag:before
    content: "\e666"

.icon-media-rewind:before
    content: "\e667"

.icon-microphone:before
    content: "\e668"

.icon-phone:before
    content: "\e669"

.icon-pi:before
    content: "\e66a"

.icon-plane:before
    content: "\e66b"

.icon-power:before
    content: "\e66c"

.icon-puzzle:before
    content: "\e66d"

.icon-spanner:before
    content: "\e66e"

.icon-anchor:before
    content: "\e66f"

.icon-arrow-loop:before
    content: "\e670"

.icon-arrow-maximise:before
    content: "\e671"

.icon-arrow-minimise:before
    content: "\e672"

.icon-arrow-repeat:before
    content: "\e673"

.icon-arrow-shuffle:before
    content: "\e674"

.icon-arrow-sync:before
    content: "\e675"

.icon-social-vimeo:before
    content: "\e676"

.icon-social-tumbler:before
    content: "\e677"

.icon-social-skype:before
    content: "\e678"

.icon-social-pinterest:before
    content: "\e679"

.icon-social-linkedin:before
    content: "\e67a"

.icon-social-last-fm:before
    content: "\e67b"

.icon-social-github:before
    content: "\e67c"

.icon-social-flickr:before
    content: "\e67d"

.icon-at:before
    content: "\e67e"
