html,body,div,ul,span,a,p{margin:0;padding:0;}
body{background:rgb(207, 196, 173);font-family: 'Hiragino Sans GB','Verdana','Microsoft Yahei',simsun,serif;}
ul{list-style-type: none;}
a{text-decoration: none;}
#hd{padding:5px;background-color:rgb(60, 58, 55);position: relative;z-index: 5;}
#hd:after{display: block; content:""; clear: both;}
#hd .tt{text-align: center;font-size:24px;color:rgb(235, 235, 235);font-weight: bold;}
#hd .tt a{color:rgb(235, 235, 235);}
#hd .tt .quote{color:rgb(139, 163, 103);}
#hd .account{position: absolute; right: 10px;top:0px; z-index: 5;width:80px;margin:0 auto;text-align: center;float: right;}
#hd .account .avatar{
    width:32px; 
    height:32px; 
    border-radius:50%;
    margin:5px;
    cursor:pointer;
    background-color:#fff; 
    position: relative;
    z-index: 6;
}
#hd .account .menu{
    position: absolute;
    top:0;
    padding: 45px 0 0px 0;
    position: absolute;
    top: 0;
    background-color: rgb(97, 85, 74);
    width: 100%;
}
#hd .account .menu .menu-item{line-height:25px;}
#hd .account .menu .menu-item a{color: #fff;padding:10px 10px;display: block;font-size: 13px;}
#hd .account .menu .menu-item a:hover{background-color: rgb(60, 58, 55);}
#bd{}
#ft{text-align: center;width:100%;position: absolute;bottom:15px;font-size: 14px}
#ft a,#ft span{color:rgb(156, 147, 130);text-decoration: none; margin-right: 5px}

/* modules */
/* mbox */
.mbox-win{position: fixed;}
.mbox-overlay{position: fixed;top: 0;left: 0;height: 100%;width: 100%;background-color: rgb(207, 196, 173);z-index: 50;}
.mbox-win .msg-box{
    padding: 10px 10px 10px 40px;
    color:rgb(60, 58, 55);
}
.mbox-win .succ,.mbox-win .err{
    width:16px;
    height:16px;
    background-image:url("../img/hint-icons.png");
    background-repeat:no-repeat;
    display: block;
    position: absolute;
    top: 13px;
    left: 10px;
}
.mbox-win .succ{background-position: 0 0;}
.mbox-win .err{background-position: 0 -32px;}


.mbox-win{box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);background-color: #fff;}
.mbox-content .box-text{
    padding:20px;
}
.mbox-content .textarea{
    border: 1px solid #999;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    resize: none;
    width: 300px;
    height: 65px;
    font-size: 14px;
    box-shadow: inset 0 2px 2px rgb(218, 218, 218);
    display: block;
}

.mbox-content .box-bottom{
    padding: 0 20px 15px 20px;
    background-color: rgb(60, 58, 55);
}
.mbox-content .box-bottom:after{
    content:"\20";
    clear: both;
    display: block;
}
.mbox-content .box-bottom .hint{
    float:left;
    padding: 3px;
    font-size: 12px;
    color: rgb(119, 114, 105);
    position: relative;
    top: 4px;
}
.mbox-content .box-bottom .btn{
    border:none;
    color: rgb(235,235,235);
    background-color: rgb(97, 85, 74);
    float: right;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
}

.share{
    float: right;
    margin: 5px 10px 0 0;
    position: relative;
    top: -2px;
}

.share .lbl{   
    color:#fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.share .sharebtn{
    background-image: url("/static/img/share_icons.png");
    width: 24px;
    height: 19px;
    position: relative;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}

#toweibo{
    background-position: -50px 0;
}

#toweibo.active{
    background-position: -50px -20px;
}

#todouban{
    background-position: -72px 0;
}

#todouban.active{
    background-position: -72px -20px;
}

.mbox-content .btn:hover{
    background-color: rgb(105, 93, 82);
}

.mbox-win .close{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: rgb(60, 58, 55);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    cursor: pointer;
}
