html,body,div,ul{margin:0;padding:0;}
body{background:rgb(207, 196, 173);font-family: 'Hiragino Sans GB','Verdana','Microsoft Yahei',simsun,serif;}
ul{list-style-type: none;}
a{text-decoration: none;}
#hd{padding:5px;background-color:rgb(60, 58, 55);position: relative;z-index: 5;}
#hd:after{display: block; content:""; clear: both;}
#hd .tt{text-align: center;font-size:24px;color:rgb(235, 235, 235);font-weight: bold;}
#hd .tt a{color:rgb(235, 235, 235);}
#hd .tt .quote{color:rgb(139, 163, 103);}
#hd .account{position: absolute; right: 10px;top:0px; z-index: 5;width:80px;margin:0 auto;text-align: center;float: right;}
#hd .account .avatar{
    width:32px; 
    height:32px; 
    border-radius:50%;
    margin:5px;
    cursor:pointer;
    background-color:#fff; 
    position: relative;
    z-index: 6;
}
#hd .account .menu{
    position: absolute;
    top:0;
    padding: 45px 0 0px 0;
    position: absolute;
    top: 0;
    background-color: rgb(97, 85, 74);
    width: 100%;
}
#hd .account .menu .menu-item{line-height:25px;}
#hd .account .menu .menu-item a{color: #fff;padding:10px 10px;display: block;font-size: 13px;}
#hd .account .menu .menu-item a:hover{background-color: rgb(60, 58, 55);}
#bd{}
#ft{text-align: center;width:100%;position: absolute;bottom:15px;color:rgb(156, 147, 130);font-size: 14px}

/* modules */
/* mbox */
.mbox-win{position: fixed;}
.mbox-overlay{position: fixed;top: 0;left: 0;height: 100%;width: 100%;background-color: rgb(207, 196, 173);z-index: 50;}
.mbox-win .msg-box{
    padding: 10px 10px 10px 40px;
    color:rgb(60, 58, 55);
}
.mbox-win .succ,.mbox-win .err{
    width:16px;
    height:16px;
    background-image:url("../img/hint-icons.png");
    background-repeat:no-repeat;
    display: block;
    position: absolute;
    top: 13px;
    left: 10px;
}
.mbox-win .succ{background-position: 0 0;}
.mbox-win .err{background-position: 0 -32px;}