
#bd{}
#bd .piece{display: table;width:100%;height:100%;position: absolute;top:0;-webkit-transition:-webkit-filter 1s ease-in-out;-webkit-filter:blur(4px);opacity: 0;}
#bd .piece-content{font-size:20px;display:table-cell;vertical-align:middle;color:rgb(63, 52, 42);font-weight:700;}
#bd .piece-inner{cursor:pointer;max-width:400px;margin:0 auto;position: relative;}
#bd .piece-inner .txt{text-align: left;word-wrap: break-word;}

#bd .piece-inner .func{margin: 0 auto; position: absolute;top: 0;left: 0; background: rgba(207, 196, 173, 0.8)}
#bd .piece-inner .func:after{clear:both;content:'\20';display:block;}
#bd .piece-inner .func .func-inner{position: absolute;}
#bd .piece-inner .func .func-inner:after{clear:both;content:'\20';display:block;}
#bd .piece-inner .func .btn{float:left;width:24px;height:30px;background-position: 2px;background-repeat: no-repeat;}
#bd .piece-inner .func .like{background-image: url("../img/heart_icon.png");}
#bd .piece-inner .func .next{background-image: url("../img/playback_next_icon.png");}

