
#bd{}
#bd .piece{display: table;width:100%;height:100%;position: absolute;top:0;padding:0 20px;-webkit-transition:-webkit-filter 1s ease-in-out;-webkit-filter:blur(4px);opacity: 0;}
#bd .piece-content{font-size:20px;display:table-cell;vertical-align:middle;color:rgb(63, 52, 42);font-weight:700;}
#bd .piece-inner{cursor:pointer;max-width:400px;margin:0 auto;position: relative;}
#bd .piece-inner .txt{text-align: left;word-wrap: break-word;}

#bd .piece-inner .func{margin: 0 auto; position: absolute;top: 0;left: 0; background: rgba(207, 196, 173, 0.8)}
#bd .piece-inner .func:after{clear:both;content:'\20';display:block;}
#bd .piece-inner .func .func-inner{position: absolute;}
#bd .piece-inner .func .func-inner:after{clear:both;content:'\20';display:block;}
#bd .piece-inner .func .btn{float:left;width:24px;height:30px;background-position: 2px;background-repeat: no-repeat;}
#bd .piece-inner .func .like{background-image: url("../img/heart_icon.png");}
#bd .piece-inner .func .next{background-image: url("../img/playback_next_icon.png");}

.mbox-win{box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);background-color: #fff;}
.mbox-content .box-text{
    padding:20px;
}
.mbox-content .textarea{
    border: 1px solid #999;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    resize: none;
    width: 300px;
    height: 65px;
    font-size: 14px;
    box-shadow: inset 0 2px 2px rgb(218, 218, 218);
    display: block;
}

.mbox-content .box-bottom{
    padding: 0 20px 15px 20px;
    background-color: rgb(60, 58, 55);
}
.mbox-content .box-bottom:after{
    content:"\20";
    clear: both;
    display: block;
}
.mbox-content .box-bottom .hint{
    float:left;
    padding: 3px;
    font-size: 12px;
    color: rgb(119, 114, 105);
    position: relative;
    top: 4px;
}
.mbox-content .box-bottom .btn{
    border:none;
    color: rgb(235,235,235);
    background-color: rgb(97, 85, 74);
    float: right;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
}

.mbox-content .btn:hover{
    background-color: rgb(105, 93, 82);
}

.mbox-content .close{
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(60, 58, 55);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    cursor: pointer;
}

