.new-form{
    margin:20px auto 0 auto;
    width:500px;
}

.new-form .box-text{
    padding:20px;
    background-color: #fff;
}

.new-form .box-text .textarea{
    border: 1px solid #999;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    resize: none;
    width: 438px;
    box-shadow: inset 0 2px 2px rgb(218, 218, 218);
    display: block;
    font-size: 18px;
    line-height: 1.5;
    height: 110px;
}

.new-form .box-bottom{
    background-color: rgb(60, 58, 55);
    padding:0 20px 15px 20px;
    zoom:1;
}

.new-form .box-bottom:after{
    content:"";
    clear: both;
    display: block;
}

.new-form .box-bottom .btn{
    border: none;
    color: rgb(235,235,235);
    background-color: rgb(97, 85, 74);
    float: right;
    padding: 6px 8px;
    font-size: 18px;
    border-radius: 0 0 3px 3px;
    margin: 0;
}

.new-form .box-bottom .share input{
    display:none;
}