.new-form{
    margin:20px auto 0 auto;
    width:500px;
}

.new-form .box-text{
    padding:20px;
    background-color: #fff;
}

.new-form .box-text .textarea{
    width: 438px;
    height: 110px;
    margin-bottom:10px;
}


.new-form .box-text .input{
    width:320px;
}

.new-form .box-bottom{
    background-color: rgb(60, 58, 55);
    padding:0 20px 15px 20px;
    zoom:1;
}

.new-form .box-bottom:after{
    content:"";
    clear: both;
    display: block;
}

.new-form .box-bottom .btn{
    border: none;
    color: rgb(235,235,235);
    background-color: rgb(97, 85, 74);
    float: right;
    padding: 6px 8px;
    font-size: 18px;
    border-radius: 0 0 3px 3px;
    margin: 0;
}

.new-form .box-bottom .share input{
    display:none;
}

.private-setting{
    float:left;
    margin-top: 5px
}

.private-setting .private-label{
    color:#fff;
    font-size: 12px;
    cursor:pointer;
}

.private-setting .private-chk{
    
}

.toweibo{
    background-position: -50px 0;
}

.toweibo.active{
    background-position: -50px -20px;
}


.todouban{
    background-position: -72px 0;
}

.todouban.active{
    background-position: -72px -20px;
}