#bd{
    margin: 0 auto;
    position: relative;
    width: 400px;
}

#ft{
    position: static;
    padding-bottom: 15px;
}

#people{
    position: absolute;
    text-align: center;
    top: 12px;
    left: -50px;    
}
#people .share{
    margin-right: 0;
    float: none;
}
#people .avatar img{
    width:40px;
    height: 40px;
    border-radius:20px;
}

.empty{
    text-align: center;
    height:400px;
    line-height:400px;
}

.favs{
    margin: 20px;
}


.favs .piece{
    margin: 15px;
    position: relative;
    background-color: #fff;
}


.favs .del{
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(160, 0, 0);
    text-align: center;
    z-index: 0;
}

.favs .piece-body{
    padding: 20px 20px 15px 20px;
    position: relative;
    z-index: 5;
    background: #fff;
}

.favs .content{
    padding-bottom: 10px;
    word-wrap:break-word;
}

.favs .content a{
    color: #333;
}

.favs .addtime{
    color:#999;
    text-align: right;
    font-size: 12px;
}

.pages{
    position: relative;
    margin:10px 15px;
}

.pages .num{
    top: 0;
    height: 20px;
    position: absolute;
    color:rgb(60, 58, 55);
    font-size: 12px;
}

.pages .prev{
    left: -10px;
    border-radius: 3px 0 0 3px;
}

.pages .current{
    font-size: 12px;
    color:rgb(156, 147, 130);
    text-align: center;
}

.pages .next{
    right: -10px;
    border-radius: 0 3px 3px 0;
}


.toweibo{
    background-position: -50px 0;
}

.toweibo.active{
    background-position: -50px -20px;
}


.todouban{
    background-position: -72px 0;
}

.todouban.active{
    background-position: -72px -20px;
}

